<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ranking.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Ranking Bazin</h1>
        </header>
        <div class="input_acoes">
            <Label for="range">Quantas ações deseja ver?</Label>
            <input type="number" name="range" id="range">
            <button type="button" class="btn btn-outline-success" id="btn_buscar">BUSCAR</button>
        </div>
        <div class="wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Ticket</th>
                        <th>Empresa</th>
                        <th>DY (2022)</th>
                        <th>DY (2021)</th>
                        <th>DY (2020)</th>
                        <th>DY (2019)</th>
                        <th>DY (2018)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="acoes">

                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="../js/ranking.js"></script>

</html>