<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login_registrar.css">
    <title>Document</title>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form methods="post">
                <label class="title">Método Bazin</label>
                <input type="text" placeholder="primeiro nome" id="nome">
                <input type="text" placeholder="username" id="user_name"/>
                <input type="password" placeholder="password" id="senha"/>
                <input type="password" placeholder="repeat password" id="senha_repeat"/>
                <button id="btn_repeat" type="button">create</button>
                <p class="message">Already registered? <a href="http://127.0.0.1:5500/View/html/login.html">Sign In</a></p>
            </form>
            
        </div>
    </div>
</body>
<script src="../js/registrar.js"></script>
</html>